body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
header {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 600px;
}
.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #eae103;
  background-color: transparent;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: 2.5px;
}
.navbar-default .navbar-nav > li > a {
  color: #393939;
  font-size: 13.5px;
}
.navbar-brand {
  padding: 17px 15px;
}
.navbar-brand img {
  width: 200px;
}
.shrink-nav {
  color: #000 !important;
  top: 0px;
  background-color: #fff;
  position: fixed;
}
.shrink-nav .navbar-nav > li > a {
  color: #000 !important;
  line-height: 24px;
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
  }
  .navbar-brand {
    padding: 7px 15px;
  }
  .navbar-brand img {
    width: 144px;
  }
}

