*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background-color: white;
    background-size: 55%;
    height: 80vh;
    margin-top: -3.3%;
    position: relative;
    text-align: center;
    padding: 120px 0 0 0;
}
.about-container h1{
    font-size: 30px;
    font-weight: 900;
}
.txt{
    width: 45%;
    float: left;
    font-size: 20px;
    color: black;
    line-height: 28px;
    padding:0px 100px;
    margin-bottom: 100px;
}

.inner-container{
    width: 55%;
    float: right;
    position: top; 
    overflow: hidden;
    background-color: #00ad9f;
    margin-top: 40px;
    padding:80px;
    color: white;
}

.text{
    font-size: 14px;
    color:#fff;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #545454;
    font-size: 14px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 20px 40px;
    }
    .txt{
        width: 100%;
        font-size: 16px;
        color: black;
        letter-spacing: 0em;
        line-height: 20px;
        padding:0px 90px;
        margin-bottom: 50px;
    }
    .inner-container{
        width: 100%;
        padding: 30px;
        border-radius: 10px;
}
@media screen and (max-width:768px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .txt{
        width: 100%;
        font-size: 16px;
        color: black;
        line-height: 20px;
        letter-spacing: 0em;
        padding:0px 90px;
        margin-bottom: 90px;
    }
    .inner-container{
        margin: auto;
        padding: 60px;
    }
}
