*{
    margin: 0;
    padding: 0;
    font-family: "Open sans",sans-serif; 
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: stretch;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}
.about{
    height: 20vh;
    text-align: center;
    margin-bottom: 30px;
}
.textt{
    padding-top: 60px;
}
.about-section{
    background-color:#f9f9f9;
    height: 50vh;
    position: relative;
    text-align: justify;
}
.about1{
    width: 50%;
    height: 50%;
    float: right;
}

.txt{
    width: 50%;
    float: left; 
    font-size: 20px;
    color: black;
    line-height: 28px;
    padding:0px 100px;
}
.about-section2{
    background-color:#f9f9f9;
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 40px;
}
.about2{
    
    width: 50%;
    height: 50%;
    float: left!important;
}
.text{
    width: 45%;
    float: right; 
    font-size: 20px;
    color: black;
    line-height: 28px;
    padding:0px 100px;
    margin-bottom: 100px;
}
.skills{
    display: flex;
    text-align: center;
}

@media screen and (max-width:1200px){
    .about-section{
        background-size: 100%;
    }
    .txt{
        height: 100%;
        width: 70vh;
        font-size: 18px;
        letter-spacing: 0em;
        line-height: 20px;
        padding:40px 60px;
        margin-bottom: 50px;
    } 
    .about1{
        height: 100%;
        width: 55vh;
        margin-bottom: 50px;
    }
    .about2{
        height: 100%;
        width: 55vh;
    }
    .text{
        height: 100%;
        width: 73vh;
        font-size: 18px;
        color: black;
        letter-spacing: 0em;
        line-height: 20px;
        padding:50px 80px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width:768px){
     .about-section{
        background-size: 100%;
    } 
    .txt{
        width: 100%;
        font-size: 16px;
        color: black;
        line-height: 28px;
        text-align: justify;
        padding:0px 90px;
        margin-bottom: 0%;
    }
    .about1{
        width: 100%;
        height: 100%;
        display: block;
        margin: 5px auto;
    }
    .about1 img{
        height:400px;
    }
    .about2 {
        display: none;
    }
    .text{
        width: 100%;
        height: 70vh;
        font-size: 16px;
        color: black;
        line-height: 25px;
        letter-spacing: 0em;
        padding:40px 90px;
        margin-bottom: 100px;
    }
   
}
