*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    footer{
      font-family: arial, tahoma;
      font-size: 13.5px;
      color: #fff;
      text-transform: capitalize;
      width: auto;
      background-color: black;
      padding: 0 160px 0 ;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    footer p{
      line-height: 180%;
      color: #a29e9e;
    }
    footer h6,footer div{
      margin-bottom: 20px;
    } 
    footer h6{
      margin-top: 25px;
      font-size: 17.5px;
    }
    footer a{
      text-decoration: none;
      color: #fff;
    }
    footer div .one{
      text-align: justify;
      margin-bottom: 20px;
      text-transform: none;
    }
    footer .details{
      display: flex;
      flex-wrap: wrap;
    }
    footer .details div{
      width: 150px;
      margin-right: 20px;
    }
    footer .details div p{
      text-transform: uppercase;
    }
    footer .details div span{
      margin-bottom: 20px;
    }
    footer  .contact{
      width: 340px;
    }

    footer .about p, input{
      padding: 5px ;
  
    }
    footer .about input{
      width: 175px;
      margin-bottom: 20px;
      border-style: none;
      background-color: #4d4d4d;
      color: #a29e9e;
    }
    footer .about input::placeholder{
      color: #a29e9e;
      font-size: 13px;
    }
    footer .about button{
      padding: 7px 12px;
      margin-left: 4px;
      color: #fff;
      background-color: #f00;
      font-size: 13px;
      border-style: none;
    }
    footer .soc a{
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 18px;
      border-radius: 80%;
      text-align: center;
      line-height: 30px;
    }

    footer .soc a:first-of-type{
      background-color: grey;
    }
    footer .soc a:nth-of-type(2){
      background-color:  #1da1f2;
    }
    footer .soc a:nth-of-type(3){
      background-color:  blue;
    }
    footer .soc a:nth-of-type(4){
      background-color: #8a50ca;
    }
    footer .cnct{
      margin: 20px;
    }

    footer a:hover {
    color:white;
    transform: scale(1.3);
    transition: all .2s ease-in-out;      
    }
    .footer-2{
      font-family: arial, tahoma;
      font-size: 13.5px;
      color: #fff;
      text-transform: capitalize;
    }
    
    /*media*/
    /* start of  media footer */
    @media (max-width: 768px) {
      footer{
        background-size: 90vh;
        padding: 0px 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .soc{
      margin-top:100px ;
      display: block;
     margin-left: auto;
     margin-right: auto;
    }
    footer .soc a{
      margin-left: 40px;
    }
    footer h6{
      text-align: center;
    }
    footer .cnct{
      margin: 20px;
      line-height: 20px;
      text-align: center;
    }
    footer.btnn{
      align-content:center!important;
    }

  }
  @media screen and (max-width:1200px){
    footer{
      background-size: 90vh;
      padding: 20px 0px;
  }
  footer .soc{
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  }

    /* end of media footer */
    .footer-2{
      width: 100%;
      height: 45px;
      padding: 15px 180px;
      background-color: #252121;
      position: relative;
    }
    .footer-2 p{
      color: gray;
      display: inline-block;
      position: absolute;
      top: 15px;
    }
    .footer-2 p span{
      color: #fff;
    }
    .footer-2 .nav{
      float: right;
    }
    .footer-2 a{
      display: inline-block;
      margin-right: 14px;
      color: #fff;
    }

        /* start of media footer-2 */
    @media (max-width: 768px) {
      .footer-2{
        background-size: 90vh;
        padding: 0px 60px;
        height: 80px;
        text-align: center;
    }
    .footer-2 p{
      padding: 5px 15px;
      float: none;
      position: static;
    }
      .footer-2 .nav{
        padding: 5px 15px;
        float: none;
      }
    }
        /* end of media footer-2 */
