*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
      align-items: center;
      justify-content: center;
}
.large-wrapper.darkmode {
background: #172644;
color: white;
}

.hero{
     background: url(../img/hero.jpg) no-repeat 50% 50%;
     background-size: cover;
     height: 100vh;

}
.hero-content{
     padding-top: 15%;
     padding-left: 55%;
     
}
.hero h1{
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    font-size: 100px;
    font-weight: 50;
}
.hero h1.darkmode{
      color: #172644;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 35px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}
.logo.darkmode{
      color: #172644;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 30px;
      z-index: 100;
}

nav ul {
      line-height: 35px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
.btn.darkmode:hover, .btn.darkmode:active{
    color: white;
}
#dark.darkmode{
    color: white;
}
button{
      color: #000;
}
button.darkmode {
      background: #172644;
      color: white;
}
.material-btn, .material-btn:focus{
      margin: 15px;
      font-style: italic;
      font-size: 20px;
      color: #FFF;
      background-color: #000;
      border-radius: 5px;
}
.material-btn:hover , .material-btn.darkmode:hover{
      margin: 25px;
      color: #000;
      background-color: #fff;  
      transition-duration: 0.3s;
}

nav.black ul {
      background: #000;
}
nav.black.darkmode ul{
      background: #f2e3aa;
}
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}
nav ul li.darkmode a{
      color: #172644;
}
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      letter-spacing: 3px;
}

nav ul li a:hover {
      text-decoration: none;
      color: #696969;
      font-size: 16px;
}
nav ul li a.darkmode:hover{
      color: #38599d;
}

.menu-icon {
      line-height: 35px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

footer img{
    width: 60%;
    
}
.footer-content{
    margin-top: -5%;
    padding: 7% 10%;
    background-color: #4fd3b9;
}

@media(max-width: 786px) {

      header{
        background: url(../img/hero.jpg) no-repeat 50% 25%;
      }
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

img{
  width:100%;
}

.item{
  padding-left:40px;
  padding-right:40px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title.darkmode{
      color: white;
}
.card{
    padding: 20px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:40px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-block img{
      height: 25rem;
}

.typewriter h1 {
      overflow: hidden;
      border-right: .15em solid black;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: .10em;
      animation: 
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: black; }
}